.menu-item {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.menu-item:hover {
    color: var(--primary) !important;
    transform: scale(1.05);
}
