:root {
    --primary: #1da1f2;
    --secondary: #fff
    --like: #f4245e;
    --primary-disable: #1da0f2b5;
    --bg-dark #F7F9FA;
    --surface: #fff ;
    --text-placeholder: #8899a6;
    --text-color: #0F1419;
    
    --input-color: #ebeef0;
    --separator: #313b44
  }
                