:root {
  --primary: #1da1f2;
  --secondary: #fff
  --like: #f4245e;
  --primary-disable: #1da0f2b5;
  --bg-dark: #1c2733;
  --surface: #17202a ;
  --text-placeholder: #8899a6;
  --text-color: #fff;
  --input-color : #283340;
  --separator: #ebeef0;
  --border-color: #8899a6; 
}
 