@import "_reset.css";
@import "_dimensions.css";
@import "_colors.dark.css";
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap");
* {
  font-family: "Lexend Deca", sans-serif;
}

h1,
h2,
h3,
h4,
p,
a {
  color: pink;
}

#app {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}

.bg-dark {
  background-color: var(--bg-dark) !important;
}
