@import "_reset.css";
@import "_dimensions.css";
@import "_colors.dark.css";
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap");
* {
  font-family: "Lexend Deca", sans-serif;
}

#app {
  max-width: 1440px;
  margin: auto;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
}

.bg-dark {
  background-color: var(--bg-dark) !important;
  color: var(--text-color-dark);
}
.surface {
  background-color: var(--surface);
}

.surface-dark {
  background-color: var(--surface-dark);
  border-color: var(--separator-dark);
}
