.icon--blue {
    color: var(--primary);
}
.icon--red {
    color: var(--like);
}
.icon--gray {
    color: var(--text-placeholder);
}
.icon--black {
    color: var(--text-color);
}
.icon--white {
    color: var(--secondary);
}

.fa-twitter {
    font-size: 30px;
}
